*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'TypographytimesRegular';
    font-weight: normal;
    font-style: normal;
    color: beige;
}


body{
    background-image: url("https://images7.alphacoders.com/914/thumb-1920-914830.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main{
    height: 100vh;
    padding: 40px;
}

h1{
    font-size: 35px;
}

h1,h2,h3,#mensaje{
    text-align: center;  
}

#mensaje{
    margin: auto;
    font-weight:700;
}

.container, #titulo, #marcador{
    display: flex;
    justify-content: space-around;
}

.container-op{
    display: flex;
    justify-content: space-around;
    padding: 0px 20%;
}

.imagen{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.imagen:hover{
    background: #221211;
}

.imagen:hover{
    background-image: url(img/circuloa.png);
}

.container-opciones{
    text-align: center;
}
.jugadas{
    width: 120px;
    height: 120px;
}

h4{
    width: 50%;
    text-align: center;
}


#fin_contenedor{
    display: none;
    background: #1a1112d0;
    height: 50vh;
    border-radius: 15px;
    text-align: center; 
    width: 50%;
    padding: 10px 40px;
    margin:70px;
}

#fin{
    width: 100%;
    align-items: center;
    padding-top: 12%;
    font-size: 30px;
}

#fin_texto{
    margin-top: 30px;
    font-size: 25px;
}

#intrucciones{
    margin: 40px 0px 20px 0px;
}

#intrucciones-title{
    text-align: left;
}

#reinicio{
    background-color: #F85246;
    border: transparent;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    margin-top: 30px;
}

#reinicio:hover{
    background-color: #a7342c;
}


.container-marcador{
    background-color: rgba(0, 0, 0, .6);
    border-radius: 10px;
    width: 400px;
    margin: auto;
    border-radius: 15px;
}


#titulo_jugador{
    background-color: rgb(23, 40, 168);
    border-radius: 10px 0px 0px 0px;
}

#titulo_pc{
    background-color: #a7342c;
    border-radius: 0px 10px 0px 0px;
}

#value_jugador,#value_pc{
    background-color: aliceblue;
    color: black;
    
}

#value_pc{
    border-left: 1px solid black;
}






/* desktop*/
@media screen and (max-width: 1200px){
    
}

/* laptop*/
@media screen and (max-width: 1023px) and (min-width: 769px){
    
}


/* Tablet*/
@media screen and (max-width: 768px) and (min-width: 481px){
    body{
        background-size: auto;
        height: 100vh;
    }
    h2,h3{
        margin: 10px 0px;
    }

    #fin_contenedor{
        width: 80%;
    }
    
}

/* mobile */
@media screen and (max-width: 480px) and (min-width: 300px){
    body{
        background-size: auto;
        height: 100vh;
    }

    h1{
        font-size: 30px;
    }
    .container-op{
        padding: 0;
    }

    #fin_contenedor{
        width: 70%;
    }
    #reinicio{
        margin-top: 40px;
    }

    #main{
        padding: 20px;
    }

    .container-marcador{
        width: 300px;
        margin: auto;
        border-radius: 15px;
    }
}








